---
import Main from '../layouts/main.astro';
import eligibility from '../images/eligibility.png';
import { slide } from 'astro:transitions';
---

<Main>
  <section id="about">
  

    <div class="flex flex-col md:flex-row pt-16 mt-3">
      <!-- heading on bottom of div -->
      <div class="w-full md:w-1/2 relative min-h-full">
        <div class="md:absolute bottom-0">
        <h1 class="justify-end text-4xl ">About ANIMATE 2025</h1>

      </div>
      </div>
      <div class="w-1/2">
        <!-- <iframe width="400" height="280" src="https://www.youtube.com/embed/rUBhBL6UaaM?si=t8pNyO8ed7ufcJXJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
        transition:animate={slide({ duration: '0.6s', delay: '1s' , direction: 'backward'})}></iframe> -->
        <iframe width="400" height="280"
  src="https://www.youtube.com/embed/rUBhBL6UaaM?si=t8pNyO8ed7ufcJXJ"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
  transition:animate={slide({ duration: 600})}></iframe>

      </div>
    </div>
    
    <!-- conten -->
    <div class="mt-4">
      <div class="pt-4 leading-normal sm:leading-loose">
      
        <p class="text-pretty md:text-xl text-sm playfair-display-normal text-justify">
          
          ANIMATE 2025 is an online Animation Hackathon using Synfig Studio (2D) and Blender (3D), 
          organized by FOSSEE, IIT Bombay. The FOSSEE project is part of the National Mission on Education 
          through Information and Communication Technology (ICT), Ministry of Education (MoE), Government of India.

              Unleash Your Imagination! and join us for an exciting Animation Hackathon 
              where creativity meets technology! Whether you are using 3D or 2D animation techniques, 
              this is your chance to tell powerful stories and build stunning visuals using Blender and Synfig Studio,
               two of the leading open-source animation platforms. We welcome experienced animators and passionate 
               beginners to showcase their talent in this Animation Hackathon.
          
           </p>
      </div>
    </div>
</section>
<section id="eligibility">
  

  <div class="flex flex-col md:flex-row pt-3 mt-3">
    <!-- heading on bottom of div -->
    <div class="w-full md:w-1/2 relative min-h-full">
      <div class="md:absolute bottom-0">
      <h1 class="justify-end text-4xl mb-4">Eligibility to participate:</h1>
    </div>
    </div>
    <div class="w-1/2">
      <!-- <img  src={eligibility.src} alt="WELCOM TO SYNFIG STUDIO HACKATHON" decoding="async" width="50%"
      transition:animate={slide({ duration: '0.6s', delay: '1s' , direction: 'backward'})} /> -->
      <img
  src={eligibility.src}
  alt="WELCOME TO SYNFIG STUDIO HACKATHON"
  decoding="async"
  width="50%"
  transition:animate={slide({ duration: 600 })} />

    </div>
  </div>
  
  <!-- conten -->
  <div class="mt-4">
    <div class="pt-4 leading-normal sm:leading-loose">
    
      <div class="text-justify md:text-xl text-sm playfair-display-normal"><ul class="list-disc">
          <li>The hackathon is open to all.</li>
          <li>Participants can join as individuals or in teams (maximum of 4 members).</li>
          <li>High school/college students, faculty, and professionals (such as animators, designers, etc.) from any field who are interested in creating animations are welcome.</li>
          <li>Knowledge of basic graphics, design, and animation is required.</li>
          <li>The main objective of this event is to promote learning of Synfig Studio. If you are self-motivated and want to participate, you can self-learn Synfig Studio using <a href="spoken-tutorial.org">Spoken tutorials</a>. These tutorials are available in English, Hindi, Kannada, Marathi, Malayalam, Tamil, and Telugu.</li>
          </ul>
        </div>
    </div>
  </div>
</section>
</Main>