---
import Main from '../layouts/main.astro';

---

<Main title="Awards">
    <div class="mt-5 pt-5">
        
        <div> <h1 class="justify-end text-4xl my-3">Awards and Certificates</h1></div>
        <div><h2 class="text-pretty md:text-xl text-sm playfair-display-normal">The teams shall get the following prize money:</h2></div>
        <div class="text-pretty md:text-xl text-sm playfair-display-normal">
            <div>
                <ol class="list-decimal pl-5 mb-6">
                    <li>First Prize: <span class="text-green-600">Rs. 10,000</span></li>
                    <li>Second Prize: <span class="text-green-600">Rs. 5,000</span></li>
                    <li>Third Prize: <span class="text-green-600">Rs. 3,000</span></li>
                </ol>
            </div>
            <div>
                <div><h2 class="text-xl">Under Special Categories, the team shall get:</h2></div>
                <ol class="list-decimal pl-5 mb-6">
                    <li>Best School Submission:  <span class="text-green-600">Rs. 2,000</span></li>
                    <li>Regional Language:  <span class="text-green-600">Rs. 2,000</span></li>
                    <li>Environmental Relevance:  <span class="text-green-600">Rs. 2,000</span></li>
                    <li>Social Relevance:  <span class="text-green-600">Rs. 2,000</span></li>
                    <li>Innovation:  <span class="text-green-600">Rs. 2,000</span></li>
                </ol>
                <div>Consolation Prize: <span class="text-green-600">Rs. 1,000</span></div>
                <div>&nbsp;</div>
                <div>
                    <div>The prize money will be credited online to each Team Lead's account.</div>
                    <div>All the team members under the&nbsp;<strong>Winners and Special categories</strong>&nbsp;will be awarded with a&nbsp;<strong>Certificate of Achievement&nbsp;</strong>during the closing ceremony.</div>
                </div>
                <div>&nbsp;</div>
                
    <div>&nbsp;</div>
    <div>Good submission: Certificates of Appreciation.</div>
</div>
</div>
<div>&nbsp;</div>
<div class="text-pretty md:text-xl text-sm playfair-display-normal">All team members under the&nbsp;<strong>Consolation and Good Submission&nbsp;categories </strong>will be awarded with a&nbsp;<strong>Certificate of Appreciation</strong>&nbsp;during the closing ceremony.</div>

</div>
</Main>