---
import Main from '../layouts/main.astro';
---

<Main>
<section id="faq">
 <div class="py-3">
            <!-- 1/4 Width Column -->
            <!-- <div class="col-span-1 bg-gray-300 p-4">
                <img src=""/>
                <h1 class="section-title">Celebrating India's Innovation</h1>
                
                
            </div> -->
            <!-- 3/4 Width Column -->
            <div class="col-span-1 p-4">
                
                <h1 class="section-title text-4xl pb-3">
                FAQs
                </h1>
            <div class="p-4 text-base font-[Montserrat], sans-serif">
           <p class="text-xl">Please refer to <a class="hover:text-purple-400 text-purple-700" href="https://docs.google.com/document/d/e/2PACX-1vQp9kFiMEdqMDcWkLUQLWN4GjKEUgQsswd_KcjMw1ub8N1tbG4eqZlt141-ewggqkBZ7e9dDKO7Z0q1/pub" target="_blank">this</a> document for FAQs on ANIMATE 2025.
</p>
        </div>
        </div>
       

</section>
 <section id="contact">
    <div class="lg:grid grid-cols-2 gap-4">
    <div class="text-center md:text-2xl text-sm">
        <h1 class="justify-end text-4xl mb-4">Contact Us</h1>
          <p class=" text-base font-[Montserrat], sans-serif">For any queries, write to us at </p>
          <ul class=" text-base font-[Montserrat], sans-serif">
            <li><a class=" hover:text-purple-400 text-purple-700" href="mailto:info@fossee.in">info@fossee.in</a></li>
            <li><a class=" hover:text-purple-400 text-purple-700" href="mailto:contact-focal@fossee.in">contact-focal@fossee.in</a></li>

          </ul>
          </div>
    <div class="text-center">
        <h1 class="justify-end text-4xl mb-4">Follow Us</h1>
        <div class="grid grid-cols-5 gap-2">
          <div>
          <a class="bg-blue-500 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded" href="https://www.facebook.com/FOSSEENMEICT" target="_blank">
                <svg class="w-10 h-10 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z" /></svg>
              </a>
          </div>
          <div>
          <a class="bg-black p-2 font-semibold text-white inline-flex items-center space-x-2 rounded" href="https://twitter.com/FOSSEE" target="_blank">
                <svg  class="w-10 h-10 fill-current"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 512 512">
      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
      <path
        d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
    </svg>
              </a>
          </div>
          <div>
          <a href="https://www.instagram.com/fossee_nmeict/" target="_blank" class="bg-[#c13584] p-2 font-semibold text-white inline-flex items-center space-x-2 rounded">
                <svg class="w-10 h-10 fill-current"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 448 512">
      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
      <path
        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
    </svg>
              </a>
          </div>
          <div>
          <a class="bg-blue-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded" href="https://in.linkedin.com/company/fossee-iitb" target="_blank">
                <svg class="w-10 h-10 fill-current" role="img" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
            <g><path d="M218.123122,218.127392 L180.191928,218.127392 L180.191928,158.724263 C180.191928,144.559023 179.939053,126.323993 160.463756,126.323993 C140.707926,126.323993 137.685284,141.757585 137.685284,157.692986 L137.685284,218.123441 L99.7540894,218.123441 L99.7540894,95.9665207 L136.168036,95.9665207 L136.168036,112.660562 L136.677736,112.660562 C144.102746,99.9650027 157.908637,92.3824528 172.605689,92.9280076 C211.050535,92.9280076 218.138927,118.216023 218.138927,151.114151 L218.123122,218.127392 Z M56.9550587,79.2685282 C44.7981969,79.2707099 34.9413443,69.4171797 34.9391618,57.260052 C34.93698,45.1029244 44.7902948,35.2458562 56.9471566,35.2436736 C69.1040185,35.2414916 78.9608713,45.0950217 78.963054,57.2521493 C78.9641017,63.090208 76.6459976,68.6895714 72.5186979,72.8184433 C68.3913982,76.9473153 62.7929898,79.26748 56.9550587,79.2685282 M75.9206558,218.127392 L37.94995,218.127392 L37.94995,95.9665207 L75.9206558,95.9665207 L75.9206558,218.127392 Z M237.033403,0.0182577091 L18.8895249,0.0182577091 C8.57959469,-0.0980923971 0.124827038,8.16056231 -0.001,18.4706066 L-0.001,237.524091 C0.120519052,247.839103 8.57460631,256.105934 18.8895249,255.9977 L237.033403,255.9977 C247.368728,256.125818 255.855922,247.859464 255.999,237.524091 L255.999,18.4548016 C255.851624,8.12438979 247.363742,-0.133792868 237.033403,0.000790807055"></path></g>
              </a>
          </div>
          <div>
          <a href="https://www.youtube.com/@fosseeiitbombay" target="_blank" class="bg-purple-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded">
                <svg class="w-10 h-10 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" /></svg>
              </a>
          </div>
        </div>
          
          </div>
    </div>
  </section>

</Main>
<footer class="fixed  lg:pl-[25rem] bottom-0 right-0 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
  <div class="w-full bg-gray-800 text-white p-4 md:ml-8">
<!-- Centepurple Text in the Footer -->
<div class="text-center">
  <p class="text-center text-xs">This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.</p>
         <p class="text-center text-xs">The FOSSEE project is funded by the National Mission on Education through ICT, Ministry of Education, Government of India.</p>
      
</div>
</div>
</footer>