---
import Main from '../layouts/main.astro';
import eligibility from '../images/eligibility.png';
import { slide } from 'astro:transitions';
---

<Main>
  <section id="eligibility">
  

    <div class="flex flex-col md:flex-row pt-3 mt-3">
      <!-- heading on bottom of div -->
      <div class="w-full md:w-1/2 relative min-h-full">
        <div class="md:absolute bottom-0">
        <h1 class="justify-end text-4xl mb-4">Eligibility to participate:</h1>
      </div>
      </div>
      <div class="w-1/2">
        <img  src={eligibility.src} alt="WELCOM TO SYNFIG STUDIO HACKATHON" decoding="async"
        transition:animate={slide({ duration: '0.6s'})} />
      </div>
    </div>
    
    <!-- conten -->
    <div class="mt-4">
      <div class="pt-4 leading-normal sm:leading-loose">
      
        <div class="text-justify md:text-2xl text-sm playfair-display-normal"><ul style="list-style:disc;" class="list-inside">
            <li>The hackathon is open to all.</li>
            <li>Participate as an individual or as a team (max. 4 members).</li>
            <li>High school/college students, faculty, professionals (animators, designers etc.) from any field who are interested in creating animations.</li>
            <li>Knowledge of basic graphics, designing and animation is required.</li>
            <li>Prior knowledge of using Synfig Studio to create 2D animation is expected. If you are self motivated and want to participate you can self learn Synfig Studio using <a href="spoken-tutorial.org">Spoken tutorials</a>. These are available in English, Hindi, Kannada, Marathi, Malayalam, Tamil and Telugu.</li>
            </ul>
          </div>
      </div>
    </div>
</section>
</Main>



