---
import Main from '../layouts/main.astro';
import qrcode from '../images/qrcode-register.png';
---

<Main>
<section id="register">
    <div class="container grid grid-cols-1 sm:grid-cols-4 gap-4">
        <!-- 1/4 Width Column -->
        <div class="place-items-center justify-center col-span-1 bg-gray-300 p-4  playfair-display-normal" style="text-align: center;">
          <div>
          <div class="pb-2 mb-2">
<a href="https://docs.google.com/forms/d/e/1FAIpQLScZlC-2OHmOVRnK6PAleW35z7Do1jDZsMd6v6zu0v2kj97PEQ/viewform"
 target="_blank" style="color:#e7dacb;" class="bg-[#7836b4ff] hover:bg-yellow-500 text-xl rounded-lg px-5 py-2.5">
<strong>Register</strong></a>
</div>
      <p class="text-xl">    Scan QR code for registration or 
          click on  - I like to participate - Link of Google form</p>
        </div>
        <div class="place-items-center pt-2">
        <img class="items-center ml-3" src={qrcode.src} style="width: 85%;" alt="ANIMATE 2025" decoding="async" />
        </div>
      <!-- <imsrc qr code -->
      </div>
      <!-- 3/4 Width Column -->
      <div class="col-span-3 p-4">
          
              <h1 class="section-title text-4xl pb-3">Read before registration
              </h1>
              <ul  style="list-style: disc;" class="text-xl  playfair-display-normal ">
                  <li>Participate as an individual or as a team (max. 4 members).</li>
                  <!-- <li>The team lead will be only one point of contact with the organizers.</li>
                  <li>The same person can not participate in more than one team.</li> -->
                  <li>Ideally, a team can consist of individuals like: Synfig Studio user / animator / graphic designer / story narrator / video editor / etc.</li>
                  <!-- <li class="text-red-500">If a person is found participating in more than one team, both the teams will be disqualified from the Hackathon.</li>
                  <li class="text-red-500">If any participant/ team is found to be indulging in any form of malpractice, the team will be immediately disqualified.</li> -->
                  <li>Use ONLY open source software for creating animations.
                  <span class="text-purple-600">You are not allowed to use any proprietary software in your animation in any aspect. If found, you and your team will be disqualified.</span></li>
                  <li><div>Submissions will be accepted in 3 categories:&nbsp;</div>
                    
                    <ol class="list-decimal list-inside pt-1">
                    <li>Under 18 - Junior Animation Mavericks</li>
                    <li>College Students - College Creators</li>
                    <li>Working Professionals - Professional Prodigies</li>
                    </ol>
                    </li>
                  </ul>
        
        
      </div>
    
    
    </div>
    </section>
    
</Main>