---
import Main from '../layouts/main.astro';
import resources from '../images/resources.png';
import { slide } from 'astro:transitions';
---

<Main>
  
  <section id="about">
  

    <div class="flex flex-col md:flex-row pt-3 mt-3">
      <!-- heading on bottom of div -->
      <div class="w-full md:w-1/2 relative min-h-full">
        <div class="md:absolute bottom-0">
        <h1 class="justify-end text-4xl mb-2">Some Helpful Resources for Hackathon:</h1>
      </div>
      </div>
      <div class="w-1/2">
        <img  src={resources.src} alt="Resources list" decoding="async" width="50%"
        transition:animate={slide({ duration: '0.6s'})} />
      </div>
    </div>
    
    <!-- conten -->
    <div class="mt-4">
      <div class="pt-3 leading-normal sm:leading-loose">
      
        <div class="text-justify md:text-xl text-sm text-base font-[Montserrat], sans-serif mb-5 pb-5">
          <ul style="list-style:disc;" >
            

            <div class="mt-4">
              <div class="pt-4 leading-normal sm:leading-loose">
                <div class="text-justify md:text-xl text-base font-[Montserrat], sans-serif">
                  <ul style="list-style: disc;" class="pl-5">
                    <li class="mb-2">
                      Self-learn Blender and Synifg studio using                         <span class="hover:text-gray-400 text-purple-700">
                        <a href="https://spoken-tutorial.org/tutorial-search/?search_foss=Synfig&search_language=" target="_blank">
                          Spoken Tutorials
                        </a>
                      </span>. These tutorials are available in English, Hindi, Kannada, Marathi, Malayalam, Tamil, and Telugu.
                    </li>
            
                    <li class="mb-2">
                      For creating graphics, recording audio, etc., you can use other software. However, since there is a requirement to strictly use 
                      <strong>Open Source Software</strong> in this hackathon, you can use GIMP, Audacity, Inkscape, Openshot Video Editor, etc. You can self-learn these software using the Spoken Tutorials, which are freely available in English, Hindi, Kannada, Marathi, Malayalam, Tamil and Telugu.
                    </li>
            
                    <li class="mb-2">
                      For help in installing Synfig Studio, please 
                      <a href="https://www.synfig.org/" target="_blank" class="hover:text-gray-400 text-purple-700">
                        click here
                      </a>.
                    </li>

                    <li class="mb-2">
                      For help in installing Blender Studio, please 
                      <a href="https://www.blender.org/" target="_blank" class="hover:text-gray-400 text-purple-700">
                        click here
                      </a>.
                    </li>
            
                  <!--  <li class="mb-2">
                      For help in installing Blender Studio, please 
                      <a href="https://www.blender.org/" target="_blank" class="hover:text-gray-400 text-purple-700">
                        click here
                      </a>.
                    </li>-->
            
                    <li class="mb-2">
                      For writing your script, you can learn about storytelling using 
                      <a href="https://spoken-tutorial.org/tutorial-search/?search_foss=Communication+Series&search_language=English" target="_blank" class="hover:text-gray-400 text-purple-700">
                        Communication Spoken Tutorials
                      </a> available in English.
                    </li>
            
                    <li class="mb-2">
                      Refer graphics from our 
                      <a href="https://www.focal.fossee.in/" target="_blank" class="hover:text-gray-400 text-purple-700">
                        FOCAL (free and open source creative art library)
                      </a> repository.
                    </li>

                    
                  </ul>
                </div>
              </div>
            </div>
            

            
</Main>
