---
import Main from '../layouts/main.astro';

---

<Main title="Results">
  <!-- Parent Tabs -->


 

  
<div class=" text-xl text-base font-[Montserrat], sans-serif">
<div class="tabs">
  <div class="tab active" data-tab="0">Winners</div>
  <div class="tab" data-tab="1">Consolation</div>
  <div class="tab" data-tab="2">School Submissions</div>
</div> 



<div class="tab-content">
  <div class="tab-panel active" id="tab-0">
    <div class="overflow-x mt-5 pt-5 pb-5 mb-5">
<p class=" text-center text-purple-600 text-2xl mb-3 pb-3">Award for the Institution with maximum number of submissions (9 submissions):
  <br /> Dayanand Art College of Latur, Maharashtra. 
</p>

<!-- 2d Animations -->
<p class="text-center text-2xl font-bold text-white bg-purple-600 rounded-xl py-3 shadow-lg shadow-purple-300 mb-4">
  2D Animations
</p>

      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
              
          <tr>
              <th>Rank</th>
             <th>Winner Names </th>
               <!-- <th>School name / College name / Organisation name </th> -->
               <th>Video Link</th>
           </tr>
    </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
            
          <tr>
<td>1st Winner</td>
<td>Rushikesh Ramesh Chavan <br /> <span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/pu6ibZ_PrKY" target="_blank">Click here</a></td>
</tr>
<tr>
<td>2nd Winner</td>
<td>Tharun P, Swetha P, Sanjay K, Yaswanth R <br /><span style="color: rgb(156, 61, 245);">(Velalar College of Engineering and Technology, Thindal)</span> </td>
<td><a href="https://youtu.be/b5j6hZJQV2o" target="_blank">Click here</a></td>
</tr>
<tr>
<td>3rd Winner</td>
<td>Sachin Patange <br /><span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/Dt5sny_x3kk" target="_blank">Click here</a></td>
</tr>
</tbody>
</table>

<br />

  <!-- 3d animations -->
<p class="text-center text-2xl font-bold text-white bg-purple-600 rounded-xl py-3 shadow-lg shadow-purple-300 mb-4">
  3D Animations
</p>

      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
              
          <tr>
              <th>RANK</th>
             <th>Winner Names </th>
               <!-- <th>School name / College name / Organisation name </th> -->
               <th>Video Link</th>
           </tr>
    </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
            
          <tr>
<td>1st Winner</td>
<td>Sasank Navuri <br />
  <span style="color: rgb(156, 61, 245);">(Vellore Institute of Technology, Andhra Pradesh)</span></td>
<td><a href="https://youtu.be/krwpjaU6vZw" target="_blank">Click here</a></td>
</tr>
<tr>
<td>2nd winner</td>
<td>Shubham Ranabhat <br /> <span style="color: rgb(156, 61, 245);">(Institute of Engineering, Pulchowk Campus)</span></td>
<td><a href="https://youtu.be/jAAUCCpAYlc" target="_blank">Click here</a></td>
</tr>
<tr>
<td>3rd winner</td>
<td>Parag Bharat Watane, Darshan Jayant Nerkar, Jay Sanjay More, Saurav Gajanan Patil <br /><span style="color: rgb(156, 61, 245);">(MVP Karmaveer Adv. Baburao Ganpatrao Thakare College of Engineering, Nashik)</span></td>
<td><a href="https://youtu.be/dN1PI-CY0rs" target="_blank">Click here</a></td>
</tr>

</tbody>
</table>
</div>
  </div>

<!---------------Tab-2------------------->
    <div class="tab-panel" id="tab-1">
       <div class="overflow-x mt-5 pt-5 pb-5 mb-5">

<p class="text-center text-2xl font-bold text-white bg-purple-600 rounded-xl py-3 shadow-lg shadow-purple-300 mb-4">
  2D Animations
</p>

     <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
              
          <tr>
              <th>RANK</th>
             <th>Winner Names </th>
               <!-- <th>School name / College name / Organisation name </th> -->
               <th>Video Link</th>
           </tr>
    </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
            <tr>
<td>Consolation</td>
<td>Dhivyadharshini E, Gandhimathi K, Aditya S, Abyvighneesh P Y <br /><span style="color: rgb(156, 61, 245);">(Velalar College of Engineering and Technology, Thindal)<br /></td>
<td><a href="https://youtu.be/wniaa2oMeEE" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Harshita Suri, Sourav Kumar, Deepti Kulshrestha, Rajesh Gaur<br /> <span style="color: rgb(156, 61, 245);">(Dronacharya Group of Institutions, Greater Noida)</span></td>
<td><a href="https://youtu.be/fXCPjKTub84" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Jeevika V, Elakkiyha B, Dhanusri B, Abhinivesh N <br /> <span style="color: rgb(156, 61, 245);">(Velalar College of Engineering and Technology, Thindal)</span></td>
<td><a href="https://youtu.be/hs8bVf_5Ybg" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Kharishma P, Poovizhi S, Madhumidha, Navya Dhashini P <br /><span style="color: rgb(156, 61, 245);">(Velalar College of Engineering and Technology, Thindal)</span></td>
<td><a href="https://youtu.be/GjkN6XrDGO8" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Shaikh Kayyum, Kazi Saklain, Mohammad Amis, Noorain Bhure <br /><span style="color: rgb(156, 61, 245);">(M. H. Saboo Siddik College Of Engineering, Mumbai)</span></td>
<td><a href="https://youtu.be/gIZakiKmZGw" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Mayur Sanjay Dudhal, Ananya Bhattacharjee, Ritika Wankhade, Pilla Prasanna<br /><span style="color: rgb(156, 61, 245);">(Savitribai Phule Pune University)</span></td>
<td><a href="https://youtu.be/HPEV0lk7LLo" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Nithya shree. E, Priya Keerthana A<br /><span style="color: rgb(156, 61, 245);">(Velalar College of Engineering and Technology, Thindal)</span></td>
<td><a href="https://youtu.be/CC5v2MIa5rU" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Sasank Navuri <br /> <span style="color: rgb(156, 61, 245);">(Vellore Institute of Technology, Andhra Pradesh)</span></td>
<td><a href="https://youtu.be/NS7_jkLx-aw" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Vidhya Vinothkumar <br /> <span style="color: rgb(156, 61, 245);">(Vivekanandha College of Technology for Women, Namakkal)</span></td>
<td><a href="https://youtu.be/-b1JbumDX1E" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Shubham Kopgir <br /> <span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/-evHA6kGWug" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Soham Satish Pande <br /><span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/op3V02nggDo" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Rohan Rahul Gaikwad <br /><span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/_roJjblyz6c" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Tushar Suryvanshi <br />(<span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/eKNlF2Gkagw" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Magar Nandini <br /><span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/nAHF2F2mlLo" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Shree Varshini Karunakaran <br /> <span style="color: rgb(156, 61, 245);">(Vivekanandha College of Technology for Women, Namakkal)</span></td>
<td><a href="https://youtu.be/wEb_1gSVkKA" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Yash Sanjay Malale <br /><span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/9WWqmJcFcOk" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Suganthan A <br /> <span style="color: rgb(156, 61, 245);">(Velalar College of Engineering and Technology, Thindal)</span></td>
<td><a href="https://youtu.be/shH2jxV2-Ro" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Saudagar Suryawanshi <br /> <span style="color: rgb(156, 61, 245);">(Dayanand Arts College, Latur)</span></td>
<td><a href="https://youtu.be/ZcdmnwsjrIc" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Karthikeyan. S <br /><span style="color: rgb(156, 61, 245);">(Anjalai Ammal and Mahalingam Engineering College, Thiruvarur)</span></td>
<td><a href="https://youtu.be/rS5WuG-M7mA" target="_blank">Click here</a></td>
</tr>

<tr>
<td>Consolation</td>
<td>Hemavathi S  <br /><span style="color: rgb(156, 61, 245);">(Vivekanandha College of Technology for Women)</span></td>
<td><a href="https://youtu.be/FKTctLP-RuM" target="_blank">Click here</a></td>
</tr>

            </tbody>
</table>
<br />
          <!-- 3d animations -->
<p class="text-center text-2xl font-bold text-white bg-purple-600 rounded-xl py-3 shadow-lg shadow-purple-300 mb-4">
  3D Animations
</p>

      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
              
          <tr>
              <th>RANK</th>
             <th>Winner Names </th>
               <!-- <th>School name / College name / Organisation name </th> -->
               <th>Video Link</th>
           </tr>
    </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
            
        <tr>
<td>Consolation</td>
<td>Afrina S, Harthika S, Athithyan S, Afra Fathima H<br /> <span style="color: rgb(156, 61, 245);">(Velalar College of Engineering and Technology, Thindal)</span></td>
<td><a href="https://youtu.be/GoTUcEH_VTc" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Arvind B, Anirudh Srinivasan G S, Arun Aravindh R, Prasanth S <br /> <span style="color: rgb(156, 61, 245);">(Sri Sairam Engineering College, Tamil Nadu)</span></td>
<td><a href="https://youtu.be/yVjKWHuNehU" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Sandeep, Sukhdev, Rishaw Prabhakar, Rajnish Kumar
<br /> <span style="color: rgb(156, 61, 245);">(Arya College of Engineering and IT, Jaipur)</span></td>
<td><a href="https://youtu.be/jqaLvpz9mXU" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Jaswant Singh, Saket Sankhla, Rounak Chauhan, Arpita Sharma
<br /> <span style="color: rgb(156, 61, 245);">(Government Engineering College Ajmer, Rajasthan)</span></td>
<td><a href="https://youtu.be/PO2qeq-uSH8" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Om pakale, Sushant Erande, Sushant Sathe, Aniket Poghe <br /> <span style="color: rgb(156, 61, 245);">(MGM - G.Y. Pathrikar, Aurangabad)</span></td>
<td><a href="https://youtu.be/4lccRbZ_0ks" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Yojit Jindal, Garvit Pujari
<br /> <span style="color: rgb(156, 61, 245);">(Maharaja Agrasen Institute Of Technology, Delhi)</span></td>
<td><a href="https://youtu.be/OrLBRjFa9NU" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Talha Nauman Siddique
<br /> <span style="color: rgb(156, 61, 245);">(Jamia Hamdard, Delhi)</span></td>
<td><a href="https://youtu.be/kaGSNxwFfNg" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Varad Patil <br /> <span style="color: rgb(156, 61, 245);">(Working Professional)</span></td>
<td><a href="https://youtu.be/5OyNLzVFb94" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Pranay Vaidya
<br /><span style="color: rgb(156, 61, 245);">(Self Employed)</span></td>
<td><a href="https://youtu.be/U1ey-etQfFQ" target="_blank">Click here</a></td>
</tr>

</tbody>
</table>
</div>
  </div>

    <!---------------Tab-3------------------->
 <div class="tab-panel" id="tab-2">
    <div class="overflow-x mt-5 pt-5 pb-5 mb-5">
<p class="text-center text-2xl font-bold text-white bg-purple-600 rounded-xl py-3 shadow-lg shadow-purple-300 mb-4">
  2D Animations
</p>

      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
              
          <tr>
              <th>RANK</th>
             <th>Winner Names </th>
               <!-- <th>School name / College name / Organisation name </th> -->
               <th>Video Link</th>
           </tr>
    </thead>
         <tbody class="border border-slate-400 pl-2 m-2">
          <tr>
<td>Best School Submission</td>
<td>Khushleen Kaur, Taswi <br /> <span style="color: rgb(156, 61, 245);"> (St. Xavier's High School and JR College, Nerul)</span></td>
<td><a href="https://youtu.be/I7bfru7Sz1Y" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Abhijay Brahma <br /> <span style="color: rgb(156, 61, 245);">(Reliance Foundation School, Koparkahirane)</span></td>
<td><a href="https://youtu.be/G4xQZ78TmbI" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Aarav Arpit Panchal <br /> <span style="color: rgb(156, 61, 245);">(Reliance Foundation School, Koparkahirane)</span> </td>
<td><a href="https://youtu.be/NslcbNLcIgo" target="_blank">Click here</a></td>
</tr>

             </tbody> 
        </table>
  

</div>
<!-- 3d animations -->
<p class="text-center text-2xl font-bold text-white bg-purple-600 rounded-xl py-3 shadow-lg shadow-purple-300 mb-4">
  3D Animations
</p>

      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
              
          <tr>
              <th>RANK</th>
             <th>Winner Names </th>
               <!-- <th>School name / College name / Organisation name </th> -->
               <th>Video Link</th>
           </tr>
    </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
     <tr>
<td>Best School Submission</td>
<td>Tatwarth Mahavir Panchawatkar <br /> <span style="color: rgb(156, 61, 245);">(Manalal Agrawal Skill & Technical Institute Nizampur)</span></td>
<td><a href="https://youtu.be/aqS4u0ZO5oU" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Mayank Bhoi, Jainam Padia, Aayush Bishnoi <br /> <span style="color: rgb(156, 61, 245);">(The Modern School, Sikka nagar)</span></td>
<td><a href="https://youtu.be/i2luSi9nAq8" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Praniel Singh, Aniruddha Tendulkar <br /> <span style="color: rgb(156, 61, 245);">(Reliance Foundation School, Koparkhairane)</span></td>
<td><a href="https://youtu.be/lCU7G3z1f8c" target="_blank">Click here</a></td>
</tr>
<tr>
<td>Consolation</td>
<td>Nishant Mishra <br /> <span style="color: rgb(156, 61, 245);">(DAV Public school, Harpur Ailoth)</span></td>
<td><a href="https://youtu.be/Im0zw3byah4" target="_blank">Click here</a></td>
</tr>


</tbody>
</table>
</div>
  </div>

   

  
</Main>
<style>
    table{
        box-shadow: none;
        background-color:white;
        transition: 0.3s;
    }

    table:hover{
        
        box-shadow: 0px 5px 58px 0px rgba(193, 197, 197, 0.7);
     
        /* scale: 1.1; */
    }
a {
  /* background:; */
  color: rgb(44, 39, 42);
  text-decoration: none;
  /* text-transform: uppercase; */
  padding-bottom: 3px;
  margin-bottom: 3px;
}

a:hover {
  /* background-color: #8f0dfa; */
  text-decoration:underline;
  color: rgb(156, 61, 245);
  
}

a:active {
  background-color: #a51ddb;
  
}

/* a:visited {
  background-color: #9dff6f;
} */
tr, th,td{
    border: 2px solid rgb(156, 61, 245);
    padding: 5px;
}
.tabs {
    display: flex;
    cursor: pointer;
  }

  .tab {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #f1f1f1;
  }
  .tab:hover {
    background: #be27ec;
  }

  .tab.active {
    background: #863ec2;
    color:white;
    font-weight: bold;
  }

  .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
  }

  .tab-content > div {
    display: none;
  }

  .tab-content > div.active {
    display: block;
  }
  
</style>
<script>
  document.querySelectorAll('.tab').forEach(tab => {
    tab.addEventListener('click', () => {
      const activeTab = document.querySelector('.tab.active');
      const activePanel = document.querySelector('.tab-panel.active');
      
      if (activeTab) {
        activeTab.classList.remove('active');
      }

      if (activePanel) {
        activePanel.classList.remove('active');
      }

      tab.classList.add('active');
      const tabIndex = tab.getAttribute('data-tab');
      document.getElementById(`tab-${tabIndex}`).classList.add('active');
    });
  });
</script>