<!-----
import Main from '../layouts/main.astro';

---

<Main title="Results">
  

<div class="tabs">
  <div class="tab active" data-tab="0">Winners</div>
  <div class="tab" data-tab="1">Consolation</div>
  <div class="tab" data-tab="2">Good Submissions</div>
</div>

<div class="tab-content">
  <div class="tab-panel active" id="tab-0">
    <div class="overflow-x mt-5 pt-5 pb-5 mb-5">
<p class="text-green-600 text-2xl mb-3 pb-3">Award for the Institution with maximum number of submissions (11 submissions): Velalar College of Engineering and Technology, Thindal</p>
      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-2xl">
              
              <tr>
                  <th>Sr. No.</th>
                  <th>Category of Winners</th>
                  <th>Winner Names</th>
                  <th>Video Link</th>
              </tr>
          </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
            <tr>
              <td>1</td>
              <td>First Winner</td>
              <td>Karunya.G.S, Harshini.V.M, Deevith.M, Sanjay.K<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology Thindal)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-062.mp4" target="_blank">Forest Protection</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>2</td>
              <td>Second Winner</td>
              <td>Raktima Chattopadhyay<br /><span style="color: #ff00ff;">(Rahul International School, Thane)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-014.mp4" target="_blank">Street Play (Paath Khela)</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>3</td>
              <td>Third Winner</td>
              <td>Seikh Nabab Uddin, Vinayak Kumar, A.R. Jahnavi, Madhurima Sasmal<br /><span style="color: #ff00ff;">(Dr. B.C. Roy Engineering College, Durgapur)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-116.mp4" target="_blank">Beehive cooler</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>4</td>
              <td>Best School Submission</td>
              <td>Tatwarth Panchawatkar, Navya, Divya, Shreya<br /><span style="color: #ff00ff;">(Samta Foundation, Mumbai)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-007.mp4" target="_blank">Clean City Story Using Solar Energy</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>5</td>
              <td>Regional Language</td>
              <td>Kabir Chauhan, Gayatri Swain, Arun, Sachina<br /><span style="color: #ff00ff;">(Dronacharya College of Engineering, Gurugram)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-008.mp4" target="_blank">Marine Garbage Collector</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>6</td>
              <td>Environmental Relevance</td>
              <td>Ragini<br /><span style="color: #ff00ff;">(Srishti Manipal)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-070.mp4" target="_blank">Urban Herbal Planting</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>7</td>
              <td>Social Relevance</td>
              <td>Nithya Shree.E, Priya Keerthana.A, Sivaharshavardhini.T, Nandha Deepa.S<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology Thindal)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-041.mp4" target="_blank">Solar Panel Importance</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>8</td>
              <td>Innovation</td>
              <td>Swetha.P , Merlyn.A.S, Tharun.P, Yaswanth.R<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology Thindal)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-064.mp4" target="_blank">Medical Aid Innovation Story</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>9</td>
              <td>Innovation</td>
              <td>M.M.Rithika, K.Rithika, S.S.Subrajaa, M.R.Thanusri<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology Thindal)</span></td>
              <td><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-042.mp4" target="_blank">Plastic Road</a></td>
              </tr>                  
</tbody>
</table>
</div>
  </div>
  ---------------Tab-2-------------------
    <div class="tab-panel" id="tab-1">
       <div class="overflow-x mt-5 pt-5 pb-5 mb-5">

      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-2xl">
              
              <tr>
                  <th>Sr. No.</th>
                   <th>Category of Winners</th> 
                  <th>Winner Names</th>
                  <th>Video Link</th>
              </tr>
          </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
            <tr>
              <td>1</td>
              - <td colspan="1" rowspan="11">
              <div>Consolation</div>
              </td> 
              <td>Amisha Kumari, Rashi, Rabiya Rahmani, Ganesh Kumar<br /><span style="color: #ff00ff;">(Purnea College of Engineering, Purnea, Bihar)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-065.mp4" target="_blank">Eco-friendly challenge</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>2</td>
              <td>Brindha.V.C, Lalithya.T, Elanngo.M, Bhavadharani.S<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology Thindal)</span></td>
              <td><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-072.mp4" target="_blank">NAVIC</a></td>
              </tr>
              <tr>
              <td>3</td>
              <td>Anirudh Srinivasan.G.S, Arvind.B, Arun Aravindh.R, Prasanth.S<br /><span style="color: #ff00ff;">(Sri Sairam Engineering College, Chennai)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-100.mp4" target="_blank">AWS Water Solutions</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>4</td>
              <td>Balasurya, Suman, Florance Vimal, Harish Sanjay<br /><span style="color: #ff00ff;">(Sri Eshwar College of Engineering, Coimbatore)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-051.mp4" target="_blank">Innovative India (Celebration of Creativity)</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>5</td>
              <td>Vismita.A, Preethiga.M, Yaswanth Kumar.L, Monish.S<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology Thindal)</span></td>
              <td><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-046.mp4" target="_blank">Plastic life</a></td>
              </tr>
              <tr>
              <td>6</td>
              <td>Krishna Priya. A, Indhu. J, Vani. I<br /><span style="color: #ff00ff;">(Vivekananda College of Technology for Women, Namakkal)</span></td>
              <td>
              <div>
              <div><a href="https://youtu.be/SUPvwVf6Dzc" target="_blank">The need of Education and Medication</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>7</td>
              <td>Lavanya Shree.V<br /><span style="color: #ff00ff;">(Chevalier T. Thomas Elizabeth College for Women, Perambur)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-059.avi" target="_blank">Mitti Cool Fridge</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>8</td>
              <td>Rajwardhan Shitole, Shubham Kale, Pradip Nikam, Rushikesh Taradgaonkar<br /><span style="color: #ff00ff;">(Dr. D. Y. Patil ACS College Pimpri, Pune)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-037.mp4" target="_blank">Ganimi Kawa (Innovation in War)</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>9</td>
              <td>Harivignesh.T, Abinayabharathi.N.C, Dharanikumar.K, Dharshini.B<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology Thindal)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-040.mp4" target="_blank">Defense of India</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>10</td>
              <td>Vidhya.V<br /><span style="color: #ff00ff;">(Vivekananda College of Technology for Women, Namakkal)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-082.mp4" target="_blank">Digital knowledge</a></div>
              </div>
              </td>
              </tr>
              <tr>
              <td>11</td>
              <td>S.Hemavathi<br /><span style="color: #ff00ff;">(Vivekananda College of Technology for Women, Namakkal)</span></td>
              <td>
              <div>
              <div><a href="https://static.fossee.in/focal/ANIMATE2025/Animate24-084.mp4" target="_blank">Plastic free farming</a></div>
              </div>
              </td>
              </tr>                  
</tbody>
</table>
</div>
          </div>
    --------------Tab-3-------------------
 <div class="tab-panel" id="tab-2">
    <div class="overflow-x mt-5 pt-5 pb-5 mb-5">

      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-2xl">
              
              <tr>
                  <th>Sr. No.</th>
                 <th>Animation Name</th>
                  <th>Names of the participants</th>
                 
              </tr>
          </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
            <tr>
              <td>1</td>
              <td>EV Vehicle Need</td>
              <td>Tisnoor Kaur<br /><span style="color: #ff00ff;">(St. Xavier's High School, Gurugram)</span></td>
              </tr>
              <tr>
              <td>2</td>
              <td>Our Nation's Pride in Space</td>
              <td>Kaviyarasu. S, Hariharan. B<br /><span style="color: #ff00ff;">(J K K Munirajah College of Technology)</span></td>
              </tr>
              <tr>
              <td>3</td>
              <td>Summary - India Innovation</td>
              <td>Badavath Jaipal , Debanjan Chakraborty<br /><span style="color: #ff00ff;">(JNTUHCES Sultanpur, Sangareddy)</span></td>
              </tr>
              <tr>
              <td>4</td>
              <td>Chandrayaan - Launch</td>
              <td>Sandeep, Sumit Singh, Samridhi Singh, Sukhdev<br /><span style="color: #ff00ff;">(Arya College of Engineering and IT, Kukas, Jaipur)</span></td>
              </tr>
              <tr>
              <td>5</td>
              <td>Solar energy</td>
              <td>Annmary Kuriakose<br /><span style="color: #ff00ff;">(Global Vision Immigration, New Delhi)</span></td>
              </tr>
              <tr>
              <td>6</td>
              <td>Cool Air by Water Tubes (Passive Solar Water Wall)</td>
              <td>Rohit Kumar<br /><span style="color: #ff00ff;">(Government Engineering College Bharuch)</span></td>
              </tr>
              <tr>
              <td>7</td>
              <td>Biomedical Waste Management</td>
              <td>Sakshi Kumari, Shikha kumari , Shikha Shree, Sameer Kumar <br /><span style="color: #ff00ff;">(Darbhanga college of engineering,Darbhanga)</span></td>
              </tr>
              <tr>
              <td>8</td>
              <td>UPI Payment Story</td>
              <td>Kaviyakeerthana. R, Hemavarshini. R. E, Hari Supikssa. K. S , Kuppulakshmi. K<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology, Thindal)</span></td>
              </tr>
              <tr>
              <td>9</td>
              <td>Tech Fiber</td>
              <td>Dharani Jayan . E, Anuvarshini .B.S, Harish.R, Aswathi.T<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology, Thindal)</span></td>
              </tr>
              <tr>
              <td>10</td>
              <td>Technology of Jet Pack</td>
              <td>B. Roopini, V. Nivetha, T.N.Sathya, S. Swathi<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology, Thindal)</span></td>
              </tr>
              <tr>
              <td>11</td>
              <td>Surgery innovation from India.</td>
              <td>Amit Kumar jha, Shashank Kumar Jha, Anamika Kumari <br /><span style="color: #ff00ff;">(Government Engineering College Madhubani)</span></td>
              </tr>
              <tr>
              <td>12</td>
              <td>Climate Change</td>
              <td>Shivam Jha, Ankit kumar, Jahnvi Singh <br /><span style="color: #ff00ff;">(Government Engineering College Madhubani)</span></td>
              </tr>
              <tr>
              <td>13</td>
              <td>GPS Ambulance</td>
              <td>A.Ayesha shifa, Abinaya.S<br /><span style="color: #ff00ff;">(Velalar College of Engineering and Technology, Thindal)</span></td>
              </tr>
              <tr>
              <td>14</td>
              <td>Climate Action - AI Images</td>
              <td>Shreya Shri.D, S.Hema Meena, Kaaviya.S.S<br /><span style="color: #ff00ff;">(PSG College of Technology)</span></td>
              </tr>
              <tr>
              <td>15</td>
              <td>Polyglot Communicator</td>
              <td>Sabir Mallick, Aditi Biswas, Subhajit Pal<br /><span style="color: #ff00ff;">(Dr B. C. Roy Engineering College, Durgapur)</span></td>
              </tr>
          </tbody> 
        </table>
  </div> 
</div>



   

</Main>
<style>
    table{
        box-shadow: none;
        background-color: white;
        transition: 0.3s;
    }

    table:hover{
        
        box-shadow: 0px 5px 58px 0px rgba(36, 80, 80, 0.7);
     
        /* scale: 1.1; */
    }
a {
  /* background:; */
  color: rgb(255, 0, 149);
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

a:hover {
  background-color: #ff5e00;
  text-decoration:underline;
  color: white;
  
}

a:active {
  background-color: rgb(255, 0, 0);
  
}

/* a:visited {
  background-color: #9dff6f;
} */
tr, th,td{
    border: 2px solid rgb(255, 0, 85);
    padding: 5px;
}
.tabs {
    display: flex;
    cursor: pointer;
  }

  .tab {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #f1f1f1;
  }
  .tab:hover {
    background: #f36262;
  }

  .tab.active {
    background: #fc0000;
    color:white;
    font-weight: bold;
  }

  .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
  }

  .tab-content > div {
    display: none;
  }

  .tab-content > div.active {
    display: block;
  }
</style>
<script>
  document.querySelectorAll('.tab').forEach(tab => {
    tab.addEventListener('click', () => {
      const activeTab = document.querySelector('.tab.active');
      const activePanel = document.querySelector('.tab-panel.active');
      
      if (activeTab) {
        activeTab.classList.remove('active');
      }

      if (activePanel) {
        activePanel.classList.remove('active');
      }

      tab.classList.add('active');
      const tabIndex = tab.getAttribute('data-tab');
      document.getElementById(`tab-${tabIndex}`).classList.add('active');
    });
  });
</script>-->