---
import Main from '../layouts/main.astro';
---


<Main>
    <section id="webinar">

        <div class="py-3">
            <!-- 1/4 Width Column -->
            <!-- <div class="col-span-1 bg-gray-300 p-4">
                <img src=""/>
                <h1 class="section-title">Celebrating India's Innovation</h1>
                
                
            </div> -->
            <!-- 3/4 Width Column -->
            <div class="col-span-1 p-4">
                <h1 class="section-title text-4xl pb-3">
                Attend our upcoming webinars
                </h1>
            <div class="leading-loose">
<p class="text-xl playfair-display-normal">Instructions on attending the webinar will be emailed to the registered participants.</p>
              <!-- <ol class="list-decimal mx-2 md:text-xl text-sm playfair-display-normal pt-3">
                    <li class="text-2xl mb-4">Topic: Q and A on Submission for ANIMATE 2025
                    <p class="text-xl"> Speaker: Khushalsingh</p>
                    <p>Date: 9 May 2025</p>
                    <p>Time: 3 - 3.45 PM</p>
                </li>
                  
           
             </ol> -->
        </div>
                <h1 class="section-title text-4xl pb-3">
                Webinars conducted for participants
                </h1>

            <div class="leading-loose">
<p class="text-xl playfair-display-normal">Click on the weblink below to view the recording of the webinars conducted previously for registered participants.</p>
                <ol class="list-decimal mx-2 md:text-xl text-sm playfair-display-normal pt-3">
                <li class="text-2xl mb-4">Q and A on Submission guidelines for ANIMATE 2025
                    <p class="text-xl">27 May 2025 | 3 - 3.45 PM (Presenter: Khushalsingh)</p>
                    <p>Weblink to the recording: <span class="hover:text-red-400 text-red-700"><a href="https://static.fossee.in/focal/animate_webinar/Q%20%26%20A%20Session%20for%20Animate%202025%2027-05-2025.mp4" target="_blank">View</a></span>.</p>
                    </li>
                <li class="text-2xl mb-4">Q and A on Submission for ANIMATE 2025
                    <p class="text-xl">9 May 2025 | 3 - 3.45 PM (Presenter: Khushalsingh)</p>
                    <p>Weblink to the recording: <span class="hover:text-red-400 text-red-700"><a href="https://static.fossee.in/focal/animate_webinar/Webinar%20on%20Q%20and%20A%20on%20Submission%20for%20ANIMATE%202025%2009-05-2025.mp4" target="_blank">View</a></span>.</p>
                    </li>
                <li class="text-2xl mb-4">How to choose your topic? 
                    <p class="text-xl"> 3rd May | 5 - 6 PM
(Presenter: Dr. Sanjukta Ghosh, Head of Studies, Design Led Innovation Program , Srishti Manipal Institute , MAHE - Bangalore)
.</p>
                    <p>Weblink to the recording: <span class="hover:text-red-400 text-red-700"><a href="https://static.fossee.in/focal/animate_webinar/Webinar%20on%20How%20to%20choose%20your%20topic%2020250503.mp4" target="_blank">View</a></span>.</p>
                </li>
                    <li class="text-2xl mb-4">How to use Synfig Studio to create animation?  
                    <p class="text-xl"> 30th April | 3 - 3.45 PM (Presenter - Khushalsingh).</p>
                    <p>Weblink to the recording: <span class="hover:text-red-400 text-red-700"><a href="https://static.fossee.in/focal/animate_webinar/Webinar%20on%20Q%20%26%20A%20on%20How%20to%20use%20Synfig%20Studio%20to%20Create%20Animations%2020250430.mp4" target="_blank">View</a></span>.</p>
                </li>
                  <li class="text-2xl mb-4">How to learn Synfig Studio Using a Spoken Tutorial? 
                    <p class="text-xl"> 18th April | 3 - 3.45 PM (Presenter - Khushalsingh).</p>
                    <p>Weblink to the recording: <span class="hover:text-red-400 text-red-700"><a href="https://static.fossee.in/focal/animate_webinar/Webinar%20on%20Q%20and%20A%20Session%20on%20How%20to%20use%20Spoken%20Tutorial%20to%20Learn%20Synfig%20Studio.mp4" target="_blank">View</a></span>.</p>
                </li>
           
             </ol>
        </div>
        </div>
       
       
        </section>
        <style>
            tr,td{
                border: 1px solid black;
                padding: 10px;
            }
            @media  (min-width: 600px;) {
                tr,td{
                    
                    padding: auto;
                }
            }
        </style>
</Main>